{% extends 'base.html.twig' %}

{% block title %}Yazoo!{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' with {'data': data} %}

<div class="container">

    {% include 'search/search.html.twig' with {'data': data} %}


        <!--https://getbootstrap.com/docs/5.0/components/card/-->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for r in data.results %}
            {% include 'videos/card.html.twig' with {'r': r} %}
        {% endfor %}
        </div>

        {% include 'videos/pagination.html.twig' %}

    </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Link</button>
      </div>
    </div>
  </div>
</div>

<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>

{% endblock %}
