{% extends 'base.html.twig' %}

{% block title %}Yazoo audio!{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' with {'data': data} %}

<div class="container">

    {% include 'search/search.html.twig' with {'data': data} %}

    <div class="row py-2">

        <b>
        {% if data.count > 0 %}
            {{data.count}} result(s)
        {% else %}
            {% include 'search/noresult.html.twig' %}
        {% endif %}
        </b>

        <div class="col-12">
            {% for r in data.results %}
                {% include 'audio/card-horizontal.html.twig' with {'data': r} %}
            {% endfor %}
        </div>
    </div>
    
    <div class="row py-2">
        {% include 'search/pagination.html.twig' with {'data': data} %}
    </div>

</div>

<style>
img{
    max-height:180px;
}
</style>

{% endblock %}
