
<div class="row">
    <h1>
        <a href="/">Yazoo!</a>
    <small>
        -
        <a href="/images?q={{data.q}}" title="Images">images</a> -
        <a href="/videos?q={{data.q}}" title="Video">videos</a> -
        <a href="/musique?q={{data.q}}" title="Musique">musique</a>
    </small>
    <small class="float-end">
        <a href="/stats" title="stats">Stats</a> -
        <a href="/api" title="API endpoints">API</a>
    </small>
    </h1>
</div>