{% extends 'base.html.twig' %}

{% block title %}Yazoo!{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' with {'data': data} %}

<div class="container">

        {% include 'search/search.html.twig' with {'data': data} %}

        <b>
        {% if data.count > 0 %}
            {{data.count}} result(s)
        {% else %}
            {% include 'search/noresult.html.twig' %}
        {% endif %}
        </b>

        
        {% for r in data.results %}
            {% include 'search/card-result.html.twig' with {'r': r} %}
        {% endfor %}
        
        
        
        {% include 'search/pagination.html.twig' with {'data': data} %}

    

</div>
{% endblock %}
