<div class="row py-2">
    <div class="col-12">
        <form action="" method="get">
            <div class="form-group">
                <label for="q">Search:</label>
                <input type="search" class="form-control" name="q" id="q" autocomplete=off autofocus value="{{ data.q }}" placeholder="provider:bandcamp status:200">
            </div>
        </form>
    </div>
</div>