<div class="col-12">
<nav class="navbar navbar-expand">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
        <li class="nav-item"><a class="nav-link" href="/stats">Stats</a></li>
        <li class="nav-item"><a class="nav-link" href="/status">Status</a></li>
        <li class="nav-item"><a class="nav-link" href="/blacklist">Blacklist</a></li>
        <li class="nav-item"><a class="nav-link" href="/teloche">Teloche</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>