<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yazoo!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>💻</text></svg>">
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" value="#ffffff">

        {% block opengraph %}
        <meta property="og:title" content="Yazoo!">
        <meta property="og:description" content="Le moteur de recherche incongru">
        <meta property="og:image" content="img/icon-256.png">
        {% endblock %}

        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <link href="/css/yazoo.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    


    <body>        
        {% block body %}{% endblock %}
    </body>
</html>
