{% extends 'base.html.twig' %}

{% block title %}Link Stats{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}

<div class="example-wrapper">
<section class="container">
    <div class="row">
        <h1>Stats : Link Contributors</h1>
        <hr>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Link Contributors</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-hover">
                    <thead>
                        <th>n</th>
                        <th>Contributor</th>
                        <th>AuthUserID</th>
                    </thead>
                    <tbody>
                    {% for r in contributors %}
                        {% if r.num > 4 %}
                            <tr>
                            <td>{{ r.num|e }}
                            <td>{Contributor name}
                            <td class="text-muted">
                                <a href="https://www.musiques-incongrues.net/forum/account/{{ r.contributor_id }}/">#{{ r.contributor_id }}</a>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>


        </div>
    </div>




</div>
{% endblock %}
