{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Page not found YO</h1>
        <img src="/img/icon-256.png" alt="Page not found" title="Page not found">
    </div>


{% endblock %}
