{% extends 'base.html.twig' %}

{% block title %}API Endpoints{% endblock %}

{% block body %}

{% include 'search/navbar.html.twig' %}

<div class="container py-4">

    <div class="card">
        <div class="card-header">
            API Endpoints
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <th>Endpoint</th>
                    <th>Description</th>
                </thead>
                <tbody>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/sync">/api/sync</a></code>
                    <td>Syncronize Forum Links. Call this one regularly</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/status">/api/status</a></code>
                    <td>Get Yazoo status</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/search/q">/api/search/{query}</a></code>
                    <td>Search links</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/link/">/api/link/{id}</a></code>
                    <td>Get link data</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/link/{id}/embed">/api/link/{id}/embed</a></code>
                    <td>Get link embed data</tr>

                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/random/youtube">/api/random/youtube</a></code>
                    <td>Get a random Youtube link</tr>
                
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/random/image">/api/random/image</a></code>
                    <td>Get a random jpg image</tr>

                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/random/gif">/api/random/gif</a></code>
                    <td>Get a random animated GIF</tr>
                
                
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/crawl/youtube/">/api/crawl/youtube</a></code>
                    <td>Crawl Youtube (using API)</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/crawl/video">/api/crawl/video</a></code>
                    <td>Crawl video (except youtube)</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/crawl/images">/api/crawl/images</a></code>
                    <td>Crawl images</tr>
                <tr>
                    <td><span class="badge bg-success">GET</span> <code><a href="/api/crawl/audio">/api/crawl/audio</a></code>
                    <td>Crawl audio (bandcamp/soundcloud/mixcloud)</tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
