{% extends 'base.html.twig' %}

{% block title %}API Endpoints{% endblock %}

{% block body %}

<div class="container">
    <h1><a href="/">Yazoo</a> API Endpoints</h1>
    <hr />
    <ul>
        <li><span class="badge bg-success">GET</span> <code><a href="/api/sync">/api/sync</a></code> Call every minute</li>
        <li><span class="badge bg-success">GET</span> <code><a href="/api/youtube/">/api/youtube</a></code> Crawl Youtube using API</li>
        <li><span class="badge bg-success">GET</span> <code><a href="/api/images">/api/images</a></code> Crawl images</li>
        <li><span class="badge bg-success">GET</span> <code><a href="/api/audio">/api/audio</a></code> Crawl audio (bandcamp/soundcloud/mixcloud)</li>
        <li><span class="badge bg-success">GET</span> <code><a href="/api/status">/api/status</a></code> Yazoo status</li>
    </ul>
</div>
{% endblock %}
