{% extends 'base.html.twig' %}

{% block title %}Yazoo!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <h1><a href="/">Yazoo</a> Images
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="" method="get">
                <input type="search" class="form-control" name="q" id="q" autocomplete=off autofocus value="{{ q }}" placeholder="provider:bandcamp status:200">
            </form>
        </div>
    </div>
    <hr>
    <div class="row">

        <!--https://getbootstrap.com/docs/5.0/components/card/-->

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for r in results %}
            {% include 'images/card.html.twig' with {'r': r} %}
        {% endfor %}
        </div>

        <hr>

        Count: {{count}}

    </div>


</div>
{% endblock %}
