name: Deploy

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  workflow_dispatch:
    inputs:
      # trunk-ignore(checkov/CKV_GHA_7)
      image_name:
        description: Image Name
        required: true
        default: ghcr.io/trivoalla/yazoo:latest

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  deploy:
    runs-on: ubuntu-latest
    # trunk-ignore(checkov/CKV2_GHA_1)
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy
        uses: datntdev0/action-deploy-to-portainer@v0.1.0
        with:
          portainerHost: ${{ secrets.PORTAINER_HOST }}
          portainerApiKey: ${{ secrets.PORTAINER_API_KEY }}
          portainerEnvId: ${{ secrets.PORTAINER_ENV_ID }}
          portainerStackName: yazoo
          portainerFilePath: compose.prod.yaml
          portainerEnvVars: '[{"name": "IMAGE_NAME", "value": "${{ inputs.image_name }}"}]'
