on:
  pull_request:
    branches:
      - main

name: test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Log in to the Container registry
      uses: docker/login-action@v3.0.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.0.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.0.0

    - uses: docker/build-push-action@v5.1.0
      with:
        context: .
        push: false
        load: true
        target: frankenphp_prod
        cache-from: type=inline,ref=${{ github.repository }}:buildcache
        cache-to: type=inline,ref=${{ github.repository }}:buildcache
